.vs/
Blech/
Detours/
dxsdk81/
dxsdk90/
memtest/
mkplugin/
MQ2Chat/
MQ2ChatWnd/
MQ2Ext/
MQ2Labels/
MQ2Main/
MQ2Template/
Release/

*.h
*.mak
*.sln
*.VC*
*.exe
*.lst

!MQ2ItemDisplay/*
MQ2ItemDisplay/Intermediate/